/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* **************** */

.main {
    padding: 0;
    margin: 0;
    width: 100%;
}

.main hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.inner {
    padding-top: 15px;
    width: 100%;
}

.inner input[type=text] {
    width: 60%;
    border-radius: 28px;
    background-image: url('../images/icons/searchicon.png');
    background-position: 10px 14px;
    background-repeat: no-repeat;
    padding: 13px 0px 15px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 2px solid #B0B0B0;
}

.inner input[type=text]:focus {
    border: 2px solid #808080;
    outline: none;
}

.results {
    padding: 25px 0 0 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.name {
    display: inline-block;
    float: left;
    color: blue;
    text-transform: capitalize;
    font-weight: lighter;
    width: 70%;
    word-wrap: break-word;
    padding-right: 15px;
    vertical-align: top;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}

.name_label {
    width: 70%;
    display: inline-block;
    float: left;
    text-decoration: underline;
    cursor: pointer;
}

.phone {
    display: inline-block;
    float: left;
    color: blue;
    text-transform: capitalize;
    font-weight: lighter;
    width: 30%;
    word-wrap: break-word;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.phone_label {
    width: 30%;
    display: inline-block;
    float: left;
    text-align: right;
}


.number {
    display: inline-block;
    float: left;
    color: blue;
    text-transform: capitalize;
    font-weight: lighter;
    width: 50%;
    vertical-align: top;
    text-align: right;
}

.status {
    display: inline-block;
    float: left;
    color: blue;
    text-transform: capitalize;
    font-weight: lighter;
    width: 50%;
    vertical-align: top;
    text-align: right;
    cursor: pointer;
    text-decoration:underline;
}

.item {
    margin: 0;
    width: 100%;
    padding-bottom: 25px;
    font-size: 20px;
}

